extends base
block vars
  - var rootid = "landing"
block content
  #land-cover
    #land-cover-text
      if locale != 'en'
        #land-intro-mini d|Bootcamp Taipei
      h1= aux.cover.title
      h3= aux.cover.subtitle

  #land-intro.container
    .row
      .col-md-4(style="margin-bottom:30px")
         #land-intro-city Taipei, Taiwan
         #land-intro-date Aug 21, 2015
         br
         a#land-intro-btn.btn.btn-default.btn-lg(href="agenda.html")= aux.sessions
         br
         br
         if locale == 'zh'
           a.btn.btn-default.btn-lg(href="https://docs.google.com/forms/d/18j4dn44jh0QGMr7Fiw_oynap8ZkrGTPG2hZwaPMNks8/viewform") 助教募集中
           br
           br
         a(href="https://twitter.com/search/realtime/%23dBootcamp"): img(src="/img/icon/twitter_64px.png")
         | &nbsp; &nbsp;
         a(href="https://plus.google.com/u/0/s/%23dBootcamp"): img(src="/img/icon/googleplus_64px.png")
      .col-md-8
        block land-intro
  #land-keys: #land-keys-inner.container
    h2= aux.landKeys
    .row
      each feature in features
        .col-sm-4.land-key
          img(src="/img/feature/"+feature.id+".png")
          .title= feature.title
          .desc= feature.desc

  #land-speakers
    h2= aux.landSpeakers
    .container
      each it in speakers
        .land-speaker
          .avatar(style="background-image:url(/img/speaker/"+it.id+".jpg)")
          .name= it.name
          .title= it.title
          .inst= it.inst

  #land-partners.container
    .row
      .col-md-4
        block land-partners
      .col-md-8
        a(href="http://g0v.tw"): img(src="/img/partner/g0v.jpg")
        a(href="http://www.codeforafrica.org/"): img(src="/img/partner/c4a.png")
        a(href="http://datasci.tw"): img(src="/img/partner/datasci.png")
        a(href="http://ocf.tw"): img(src="/img/partner/ocf.png")
