if use.og
    meta(property="og:locale",content="zh_TW")
    meta(property="og:image",content="#{thumbnail}")
    meta(property="og:image:type",content="image/jpg")
    meta(property="og:image:width",content="1200")
    meta(property="og:image:height",content="630")
    meta(property='og:type', content='website')
    meta(property='og:url', content='http://dbootcamp.taipei/')
    meta(property='og:title', content='d|Bootcamp Taipei / 資料新聞實戰營')
    meta(property='og:description', content='由 開放文化基金會與世界銀行共同主辦，邀請來自 Code4Africa、NPR、聯合國、南華早報的國際講者，分享全球新聞室所面臨的挑戰與創新。同時搭配國內多位具有跨領域經驗的技術講師，針對新聞工作者設計一系列入門但務實的課程，就算看到數字會頭痛、打開試算表會失去方向，你也有機會從無到有、動手完成一則完整的資料新聞。透過國際專家分享、密集實作訓練，讓新聞工作者快速學習資料新聞基礎技能。第一天的密集課程結束後，隔天直接到 g0v 零時政府黑客松提案挖坑填坑，保證精實！')
if use.favicon
    link(rel="icon",type="image/x-icon",href="#{favicon}")
if use.cdn
  //- from cdn
  if lib.jquery
    script(type="text/javascript",src="//codeorigin.jquery.com/jquery-1.10.2.min.js")
  if lib.d3js
    script(type="text/javascript",src="//d3js.org/d3.v3.min.js")
  if lib.angular
    script(type="text/javascript",src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js")
  if lib.bootstrap
    link(rel="stylesheet",type="text/css",href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css")
    script(type="text/javascript",src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js")
  if lib.semantic
    link(rel="stylesheet",type="text/css",href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/0.9.3/css/semantic.min.css")
    script(type="Text/javascript",src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/0.9.3/javascript/semantic.min.js")
else
  //- from local
  if lib.jquery
    script(type="text/javascript",src="#{assets}/jquery/1.10.2/jquery.min.js")
  if lib.d3js
    script(type="text/javascript",src="#{assets}/d3js/3.3.11/d3.v3.min.js")
  if lib.angular
    script(type="text/javascript",src="#{assets}/angular/1.2.3/angular.min.js")
  if lib.bootstrap
    link(rel="stylesheet",type="text/css",href="#{assets}/bootstrap/3.0.2/css/bootstrap.min.css")
    script(type="text/javascript",src="#{assets}/bootstrap/3.0.2/js/bootstrap.min.js")
  if lib.semantic
    link(rel="stylesheet",type="text/css",href="#{assets}/semantic-ui/0.9.5/css/semantic.min.css")
    script(type="text/javascript",src="#{assets}/semantic-ui/0.9.5/js/semantic.min.js")

